<?xml version='1.0' encoding='utf-8'?>
<widget id="Ipenkk.github.io" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wedding-in</name>
    <description>Sebuah aplikasi yang dirancang untuk membantu pengguna menghindari pelecahan seksual dan kekerasan seksual. Aplikasi ini dilengkapi dengan tombol alarm darurat yang dapat diaktifkan pengguna untuk memicu suara peringatan dan fitur pelaporan untuk memberikan dukungan kepada korban.</description>
    <author email="frankywilliam18@gmail.com" href="https://Ipenkk.github.io">
        franky.william@binus.ac.id
        rodrick.felixson@binus.ac.id
        alvina.krisendi@binus.ac.id
        shandez.darlene@binus.ac.id
        evan.audi@binus.ac.id
        alexsandro.gole@binus.ac.id
    </author>
    <content src="index.html" />
    <allow-navigation href="https://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="res/icon.png" />

    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="none" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="AndroidWindowSplashScreenBackground" value="#121212" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon.png" />

</widget>